<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test-Strips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body style='background-color:black; color:white'>
    <div id="app" class="container-fluid">
        <form action="/api/writedata" method="POST">
            {% for single_strip_key in strip_options %}
            <label>{{ single_strip_key }}: </label>
            <select name="{{ single_strip_key }}" class="form-control">
                {% for single_strip_value in strip_options[single_strip_key] %}
                <option value="{{ single_strip_value }}">{{ single_strip_value }}</option>
                {% endfor %}
            </select>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
        <div class=" row">
            <div class="col chart-container" style="width: 300px">
                <canvas id="NO3_CHART" width="100" height="100"></canvas>
            </div>
            <div class="col chart-container" style="width: 300px">
                <canvas id="NO2_CHART" width="100" height="100"></canvas>
            </div>
            <div class="col chart-container" style="width: 300px">
                <canvas id="PH_CHART" width="100" height="100"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col chart-container" style="width: 300px">
                <canvas id="KH_CHART" width="100" height="100"></canvas>
            </div>
            <div class="col chart-container" style="width: 300px">
                <canvas id="GH_CHART" width="100" height="100"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        var chartItems = ['NO3', 'NO2', 'PH', 'KH', 'GH'];
        axios.get('/api/getdata')
            .then(function (response) {
                chartItems.forEach((item) => {
                    if (response.data[item] != undefined) {
                        createChart(item, response.data[item].dates, response.data[item].dataPoint);
                    }
                });
            })
            .catch(function (error) {
                console.log(error);
            });

        function createChart(chartID, chartDates, chartData) {
            var ctx = document.getElementById(chartID + '_CHART').getContext('2d');
            var myBubbleChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: chartDates,
                    datasets: [{
                        data: chartData,
                        label: chartID,
                        borderColor: "#3e95cd",
                        fill: true
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: chartID + ' Reading Over time'
                    }
                }
            });
        }
    </script>
</body>

</html>